.kanban-style-board {
    display: flex;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 100%;
    background-color: rgb(247, 246, 243);
    background-color: #f7f7f7;
}