.navbar-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
}

.navbar-header {
    margin: 0;
    font-size: 1.5rem;
    display: inline;
    padding-left: 1.2rem;
}

.navbar-items {
    list-style: none;
    margin: auto auto 0 auto;
    padding-left: 0;
    font-weight: 500;
    align-content: center;
}

.navbar-items li {
    margin: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    display: inline-block;
}

li:not(:last-child) {
    /* margin-right: 1rem; */
}